/*
MASTER STYLES
*/
body {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ffd230;
    max-width: 100vw;
}


/*
PAGE LAYOUT
*/


img {
    max-width: 100%;
    border-radius: 10px;
}

header, section, footer {
    margin: 0px;
    padding: 50px 15%;
    display: flex;
}

header {
    flex-direction: column;
    align-items: start;
    /* justify-content: space-around; */
    height: 90vh;
    padding-top: 20%;
}

h1 {
    margin: 0;
}

/******************************
POSITION BUTTON ON TOP OF IMAGE
*******************************/

.img-btn-container{
    position: relative;
}

.img-btn-container img {
    position: relative;
    z-index: -1;
}

.img-btn-container button {
    position: absolute;
    left: 20%;
    top: 25px;
}

/*******************************/


.about-section, .menu-section, .additional-info-section, .partners-section{
    flex-direction: column;
}

/**************************
ABOUT SECTION
***************************/
.about-section img {
    width: 100%;
    margin-bottom: 20px;
}

.about-section .text-container {
    background-color: #ffd230;
    border-radius: 10px;
    padding: 15px;
}

/**************************
MENU HIGHLIGHT SECTION
***************************/

.menu-section button {
    margin-bottom: 20px;
    width: 70%;
}

h4 + p {
    margin: 0;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.menu-item-highlight {
    position: relative;
    margin-bottom: 10px;
}

.menu-item-highlight img {
    position: relative;
    z-index: -1;
}

.menu-item-text {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    position: absolute;
    bottom: 25px;
    left: 7%;
}


/***********************
ADDITIONAL INFO SECTION
************************/

.additional-info-section {
    padding-top: 0;
}

ol {
    background-color: #ffd230;
    border-radius: 10px;
    list-style: none;
    margin: 0;
    padding: 15px;
}

ol h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

ol p {
    margin-top: 5px;
}

/***********************
PARTNERS SECTION
************************/

.partners-section {
    padding-top: 0;
}

.partner-highlight:last-child {
   margin-top: 30px;
}
/**********************
FOOTER
***********************/

footer {
    flex-direction: column;
}

h3 {
    margin-bottom: 0;
}

.socials-container {
    padding-top: 16px;
}

footer a {
    font-size: 1.5rem;
    margin-right: 10px;
    color: black;
}

footer a:hover {
    color: #ed55a2;
}

/*********************
PAGE STYLES
**********************/

.white-background {
    background-color: #ffffff;
}

/*********************
FONT STYLES
**********************/

h1 {
    font-family: "Archivo Black", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5rem;
}

header p {
    font-size: 1.5rem;
}

/**********************
BUTTON STYLE
***********************/

.btn-style {
    background-color: #ffd230;
    width: 60%;
    height: 3rem;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.white-btn {
    background-color: #ffffff;
}

button:hover {
    background-color: #ed55a2;
}

.home-btn {
    display: block;
    margin-top: 20px;
    margin-left: 100px;
    width: 300px;
}

.home-btn .white-btn {
    font-size: 1rem;
}

/*MENU IMAGE*/
.menu-png {
    max-width: 100%;
    height: auto;
}

/*********************
MEDIA QUERIES FOR TABLET
**********************/

@media screen and (min-width: 1000px) {
    body, header p, h2 {
        font-size: 2em;
    }

    .btn-style {
        font-size: 2em;
        height: 2em;
    }

    .about-section .text-container {
        
        padding: 30px;
    }

    .menu-item-text {
        padding: 30px;
        bottom: 50px;
    }

    ol {
        padding: 20px 50px;
    }

    ol h4 {
        font-size: 2rem;
    }
  }


/*********************
MEDIA QUERIES FOR DESKTOP
**********************/

@media screen and (min-width: 30em) and (orientation: landscape) {
    /* … */
  }



